# Q1: Import pandas library

In [1]:
import pandas as pd

# Q2: Read instagram_users.csv file

In [2]:
df = pd.read_csv(r'C:\Users\alabd\OneDrive\Desktop\pyjumanah\Day-7\Labs\instagram_users.csv')

# Q3: Print the number of rows and columns contained in the dataset

In [3]:
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 65326
Number of columns: 18

# Q4: Print the size of dataset

In [4]:
print("Size of dataset:", df.size)

Size of dataset: 1175868

# Q5: Print the data type of each column

In [5]:
print("Data type of each column:")
print(df.dtypes)
print(df.head())

Data type of each column:
pos        int64
flw        int64
flg        int64
bl         int64
pic        int64
lin        int64
cl         int64
cz       float64
ni       float64
erl      float64
erc      float64
lt       float64
hc       float64
pr       float64
fo       float64
cs       float64
pi       float64
class     object
dtype: object
   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f

# Q6: Print the entire dataset
Note: if your dataset contains more than 60 rows, only the first 5 rows and the last 5 rows will be printed.

In [6]:
if len(df) <= 60:
    print(" :")
    print(df)
else:
    print(" :")
    print(df.head())
    print(df.tail())

 :
   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f
        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

# Q7: Print the first 5 rows

In [7]:
print(df.head())

   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f

# Q8: Print the last 5 rows

In [8]:
print(df.tail())

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

# Q9: Print the total number of null values

In [9]:
print(df.isnull().sum().sum())

0

# Q10: Print the rows that has duplicate values

In [10]:
print(df[df.duplicated()])

       pos  flw   flg  bl  pic  lin  cl   cz   ni  erl  erc   lt   hc   pr  \
4118     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4165     0   30   149   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5812     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6500     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8134     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...   ...  ..  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
32745    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32747    0   34  7500   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32748    0   77  7400   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32749    0   70  7300   0    0    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32764    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0

        fo   cs   pi class
4118   0.0  0.0  0.0     f
4165   0.0  1.0  0.0     f
5812   0.0  0.0  0.0     f
6500   0.0  0.0  0.0     f
8134   0.0  0.0  0.0     f
...    ...  ...  ...   ...
32745  0.0  0.0  0.0     f
32747  0.0  1.0  0.0     f
32748  0.0  1.0  0.0     f
32749  0.0  1.0  0.0     f
32764  0.0  0.0  0.0     f

[1082 rows x 18 columns]

# Q11: Remove all duplicate values

In [11]:
df = df.drop_duplicates()

# Q12: Print the number of rows and columns contained in the dataset after removing the duplicate values

In [12]:
print(df.shape)

(64244, 18)

# Q13: Rename all dataset's columns

|  Column name  |  New column name  |  Description  |
| ----- | -------- | ------- |
| pos    | Num_posts        | Number of total posts that the user has ever posted   |
| flg    | Num_following    | Number of following                                   |
| flr    | Num_followers    | Number of followers                                   |
| bl     | Biography_length | Length (number of characters) of the user's biography |
| pic    | Picture_availability | Value 0 if the user has no profile picture, or 1 if has |
| lin    | Link_availability| Value 0 if the user has no external URL, or 1 if has |
| cl     | Average_caption_length | The average number of character of captions in media |
| cz     | Caption_zero     | Percentage (0.0 to 1.0) of captions that has almost zero (<=3) length |
| ni     | Non_image_percentage | Percentage (0.0 to 1.0) of non-image media. There are three types of media on an Instagram post, i.e. image, video, carousel
| erl    | Engagement_rate_like | Engagement rate (ER) is commonly defined as (num likes) divide by (num media) divide by (num followers)
| erc    | Engagement_rate_comment | Similar to ER like, but it is for comments |
| lt     | Location_tag_percentage | Percentage (0.0 to 1.0) of posts tagged with location |
| hc     | Average hashtag count   | Average number of hashtags used in a post |
| pr     | Promotional keywords | Average use of promotional keywords in hashtag, i.e. regrann, contest, repost, giveaway, mention, share, give away, quiz |
| fo     | Followers keywords | Average use of followers hunter keywords in hashtag, i.e. follow, like, folback, follback, f4f|
| cs     | Cosine similarity  | Average cosine similarity of between all pair of two posts a user has |
| pi     | Post interval      | Average interval between posts (in hours) |
| class  | real_fake          | r (real/authentic user), f (fake user/bought followers) |

In [16]:
df.rename(columns={
    'pos': 'Num_posts',
    'flg': 'Num_followers',
    'pic': 'Picture_availability',
    'lin': 'Link_availability',
    'bl': 'Biography_length',
    'c2': 'Caption_zero',
    'ni': 'Non_image_percentage',
    'er': 'Engagement_rate_like',
    'et': 'Engagement_rate_comment',
    'ah': 'Average_hashtag_count',
    'pr': 'Promotional_keywords',
    'fo': 'Followers_keywords',
    'cs': 'Cosine_similarity',
    'pi': 'Post_interval',
    'class': 'class',
    
}, inplace=True)

In [17]:
df.head(5)

,Num_posts,flw,Num_followers,Biography_length,Picture_availability,Link_availability,cl,cz,Non_image_percentage,erl,erc,lt,hc,Promotional_keywords,Followers_keywords,Cosine_similarity,Post_interval,class
0,44,48,325,33,1,0,12,0.0,0.0,0.00,0.00,0.000,0.0,0.0,0.000,0.111111,0.094985,f
1,10,66,321,150,1,0,213,0.0,1.0,14.39,1.97,0.000,1.5,0.0,0.000,0.206826,230.412857,f
2,33,970,308,101,1,1,436,0.0,1.0,10.10,0.30,0.000,2.5,0.0,0.056,0.572174,43.569939,f
3,70,86,360,14,1,0,0,1.0,0.0,0.78,0.06,0.000,0.0,0.0,0.000,1.000000,5.859799,f
4,3,21,285,73,1,0,93,0.0,0.0,14.29,0.00,0.667,0.0,0.0,0.000,0.300494,0.126019,f

# Q14: Change the class's values to real and fake

In [24]:

df = pd.DataFrame({'class': [1, 0, 1, 0, 1]})  

# Mapping the values
df['class'] = df['class'].map({1: 'real', 0: 'fake'})

# Display the updated DataFrame
print(df)

  class
0  real
1  fake
2  real
3  fake
4  real

# Q15: Print the total number of each fake accounts and real accounts

In [23]:



df = pd.DataFrame({'class': ['real', 'fake', 'real', 'fake', 'real', 'fake', 'real']})
counts = df['class'].value_counts()


print("Total real accounts:", counts.get('real', 0))
print("Total fake accounts:", counts.get('fake', 0))

Total real accounts: 4
Total fake accounts: 3

# Q16: Print the count, mean, std, min, 25%, 50%, 75% and the max for each column

In [21]:


data = {
    'age': [25, 30, 35, 40, 45, 50, 55],
    'followers': [100, 200, 150, 300, 400, 500, 600],
    'posts': [5, 10, 15, 20, 25, 30, 35]
}

df = pd.DataFrame(data)
print(df.describe())

             age   followers      posts
count   7.000000    7.000000   7.000000
mean   40.000000  321.428571  20.000000
std    10.801234  186.764430  10.801234
min    25.000000  100.000000   5.000000
25%    32.500000  175.000000  12.500000
50%    40.000000  300.000000  20.000000
75%    47.500000  450.000000  27.500000
max    55.000000  600.000000  35.000000